<div class="container_edit">
  <div class="banner banner_edit">
    <div class="row">
      <p>Departure <%= @flight_ticket.departure.code %></p>
    </div>
    <div class="row">
      <p>Arrival <%= @flight_ticket.arrival.code %></p>
    </div>
  </div>
</div>
<div class="price_tables">
<div class="price_sug">
<!-- Standard Headings -->
<h1 class="price_h1">Price Suggestion Algorithm</h1>

<table class="u-full-width">
  <thead class="t_head">
    <tr>
    <th></th>
      <th>Supplier Name</th>
      <th>Departure Date</th>
      <th>Market Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%= simple_form_for @flight_ticket do |f| %>
        <td><%= f.radio_button :price, price = rand(180..230), id: "kiwi-radio" %></td>
        <td>Kiwi</td>
        <td><%= @flight_ticket.departure_at %></td>
        <td id="kiwi-price"><%= price %></td>
      <% end %>
    </tr>
    <tr>
      <%= simple_form_for @flight_ticket do |f| %>
        <td><%= f.radio_button :price, price = rand(180..230), id: "skyscanner-radio" %></td>
        <td>SkyScanner</td>
        <td><%= @flight_ticket.departure_at %></td>
        <td id="skyscanner-price"><%= price %></td>
      <% end %>
    <tr>
      <%= simple_form_for @flight_ticket do |f| %>
        <td><%= f.radio_button :price, price = rand(180..230), id: "kayak-radio" %></td>
        <td>Kayak</td>
        <td><%= @flight_ticket.departure_at %></td>
        <td id="kayak-price"><%= price %></td>
      <% end %>
    </tr>
  </tbody>
</table>
</div>
<div class="price_mine">
<!-- Standard Headings -->
<h1 class="price_h1">Select My Own Price</h1>

<table class="u-full-width mine_table">
  <thead class="t_head">
    <tr>
      <th>Market Price</th>
      <th>Departue Date & Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>*Price Input*</td>
      <td><%= @flight_ticket.departure_at %></td>
    </tr>
    <tr>
      <td rowspan="3"><label for="exampleMessage">Please accept SwapTrip's T&C</label>
      <input type="checkbox" value="submit input"></td>
    </tr>
  </tbody>
</table>

<!-- Standard buttons -->



<!-- Primary buttons -->
<%= simple_form_for(@flight_ticket) do |f| %>
 <%= f.input :price, input_html: {id: "price-input" } %>
  <%#input class="button-primary" id="price-verification" type="submit" value="List your offer"%>
  <%= f.submit %>
<% end %>
</div>
</div>
<!-- Note: columns can be nested, but it's not recommended since Skeleton's grid has %-based gutters, meaning a nested grid results in variable with gutters (which can end up being *really* small on certain browser/device sizes) -->
