<div class="container">
  <div class="banner">
    <div class="row">
      <p>Departure<%= @flight_ticket.departure.code %></p>
    </div>
    <div class="row">
      <p>Arrival<%= @flight_ticket.arrival.code %></p>
    </div>
  </div>
</div>

<!-- Standard Headings -->
<h1>Price Suggestion Algorithm</h1>


<!-- Base type size -->
<p>Basic Paragraph</p>


<table class="u-full-width">
  <thead>
    <tr>
      <th>Supplier Name</th>
      <th>Market Price</th>
      <th>Departure Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Kiwi</td>
      <%= simple_form_for @flight_ticket do |f| %>
        <%= f.radio_button :price, price = rand(180..230), id: "kiwi-radio" %>
        <td><%= @flight_ticket.departure_at %></td>
        <td id="kiwi-price"><%= price %></td>
      <% end %>
    </tr>
    <tr>
      <td>SkyScanner</td>
      <%= simple_form_for @flight_ticket do |f| %>
        <%= f.radio_button :price, price = rand(180..230), id: "skyscanner-radio" %>
        <td><%= @flight_ticket.departure_at %></td>
        <td id="skyscanner-price"><%= price %></td>
      <% end %>
    <tr>
     <td>Kayak</td>
      <%= simple_form_for @flight_ticket do |f| %>
        <%= f.radio_button :price, price = rand(180..230), id: "kayak-radio" %>
        <td><%= @flight_ticket.departure_at %></td>
        <td id="kayak-price"><%= price %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<!-- Standard Headings -->
<h1>Select My Own Price</h1>


<!-- Base type size -->
<p>Basic Paragraph</p>
<table class="u-full-width">
  <thead>
    <tr>
      <th>Market Price</th>
      <th>Departue Date & Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>*Price Input*</td>
      <td><%= @flight_ticket.departure_at %></td>
    </tr>
  </tbody>
</table>

<!-- Standard buttons -->
<label for="exampleMessage">Please accept SwapTrip's T&C</label>
  <input type="checkbox" value="submit input">


<!-- Primary buttons -->
<%= simple_form_for(@flight_ticket) do |f| %>
 <%= f.input :price, input_html: {id: "price-input" } %>
  <%#input class="button-primary" id="price-verification" type="submit" value="List your offer"%>
  <%= f.submit %>
<% end %>

<!-- Note: columns can be nested, but it's not recommended since Skeleton's grid has %-based gutters, meaning a nested grid results in variable with gutters (which can end up being *really* small on certain browser/device sizes) -->
