<div class="banner">
  <div class="wrapper bg-white">
    <%= form_tag flight_tickets_path, method: :get do %>
      <div class="form-group d-sm-flex margin">
        <div class="search_label d-flex align-items-center flex-fill me-sm-1 my-sm-0 my-4 position-relative"> <%= image_tag('departure.svg', :class => "deparr")%>
          <%= text_field_tag :departure,
            params[:departure],
            class: "label_inside form-control",
            placeholder: "City from"
         %>
      </div>
      <%= image_tag('swap_arrows.png', :class => "swap_image")%>
        <div class="search_label d-flex align-items-center flex-fill ms-sm-1 my-sm-0 my-4 position-relative">  <%= image_tag('arrival.svg', :class => "deparr")%>
          <%= text_field_tag :arrival,
            params[:arrival],
            class: "label_inside form-control",
            placeholder: "City to"
          %>
        </div>
      </div>
    <div class="form-group d-sm-flex margin">
      <div class="search_label d-flex align-items-center flex-fill me-sm1 my-sm-0 position-relative">
        <%= date_field_tag :departure_at,
          params[:departure_at],
          class: "label_inside form-control",
          placeholder: "From"
        %>
      </div>
    <div class="search_label search_margin d-flex align-items-center flex-fill ms-sm-1 my-sm-0 my-4 position-relative">
        <%= date_field_tag :arrival_at,
          params[:arrival_at],
          class: "label_inside form-control",
          placeholder: "Return date"
        %>
    </div>
  </div>
    <div class="search_row form-group my-3">
      <%= submit_tag "Search", class: "searchbtn btn btn-primary rounded-0 d-flex justify-content-center text-center p-3" %>
    </div>
    <% end %>
  </div>
</div>
<div class="container-list">
  <div class="cards">
    <% @flight_tickets.each do |flight| %>
      <%= link_to flight_tickets_path(flight) do %>
      <div class="card">
          <div class="cardfirst">
            <%= image_tag('card_example.svg', class: "avatar")%>
            <span class="card_first_title"> Price </span>
            <span class="card_first_desc"> <%= flight.price %> €</span>
            <span class="card_first_title"> Dates </span>
            <span class="card_first_desc"> <%= flight.departure_at.strftime("%d/%m") %> - <%= flight.arrival_at.strftime("%d/%m") %></span>
          </div>
          <div class="cardsecond">
            <div class="card_go">
              <span class="card_second_hours"><%= flight.departure_at.strftime("%I:%M%p") %> </span><%= image_tag('departure.svg', :class => "deparr")%> <span class="card_second_hours"><%= flight.arrival_at.strftime(" %I:%M%p") %> </span><br>
              <span class="air_departure"><%= flight.departure.city %> </span><%= image_tag('dots.svg', :class => "deparr")%> <span class="air_departure"><%= flight.arrival.city %></span>
            </div>
            <div class="card_back">
              <span class="card_second_hours">17:30 AM </span><%= image_tag('arrival.svg', :class => "deparr")%> <span class="card_second_hours">18:50 PM </span><br>
              <span class="air_departure"><%= flight.arrival.city %> </span><%= image_tag('dots.svg', :class => "deparr")%> <span class="air_departure"><%= flight.departure.city %></span>
            </div>
          </div>
          <div class="cardthird">
            <%= image_tag('card_example.svg', class: "card_image")%>
          </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-container">
    <div class="form-home">
      <div class="form-header">
        <h3 class="form-h3">Check if your flight ticket swappable!</h3>
        <%= image_tag('ticket.svg', class: "ticket-img-form")%>
        <%= image_tag('airlines.svg', class: "airlines-img-form")%>
      </div>
      <div class="form-fields">
      <p class="form-title">Flight ticket details</p>
        <input type="text" required placeholder="Passanger Full Name" class="label_inside form-control">
        <input type="text" required placeholder="Booking.code" class="label_inside form-control">
        <input type="text" required placeholder="Reservation Email" class="label_inside form-control">
        <input type="text" required placeholder="Flight Number" class="label_inside form-control">
      </div>
      <div class="submit_row form-group my-3">
        <input type ="submit" class="formButton" id="validate-btn" value ="Validate">
      </div>
      </div>
  </div>
</div>
  <div class="validate-bottom">
    <%= render partial: "validate" %>
  </div>
