<h1 style="text-align:center">List your flight<h1>
  <div class="container">
    <div class="form-wrapper" style="width: 900px; margin: 0 auto;">
      <%= simple_form_for(@flight_ticket) do |f| %>
        <%= f.input :ticket_number,
          label: "*Thirteen digit code appearing on your flight confirmation email"%>
        <%= f.input :flight_number,
          label: "*Flight number is alphanumerical code consisting of airline code 4 digits (VY850)"%>
        <%= f.input :confirmation_code,
          label: "*Alphanumerical code that appears in your flight confirmation (i.e. V3LKZ)" %>
        <%= f.association :departure, label_method: :city, collection: Airport.order(:city),
          label: "*Departure destination of your flight (city name)" %>
        <%= f.input :departure_at, as: :string, required: false, input_html: {class: "datepicker"},
          label: "*Departure" %>
        <%= f.association :arrival, label_method: :city, collection: Airport.order(:city),
          label: "*Arrival destination of your flight (city name)" %>
        <%= f.input :arrival_at, as: :string, required: false, input_html: {class: "datepicker"},
           label: "*Arrival" %>
        <%= f.input :airline_code,
           label: "*Airline code is first two characters from your flight number (i.e.VY)" %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
