<div class="container">
    <div class="banner-bg">
        <div class="banner">
            <h2 class = "dash-p"> Congratulations!</h2>
            <p>You have officially listed your flight with SwapFlat!</p>
            <p> We would like to thank you for your cooperation and service. Please find below the details of your offer.</p>
        </div>
    </div>
    <div class="displaying-card-info">
        <div class ="displaying-card">
            <div class="card">
                <div class="cardfirst">
                <span class="card_first_title"> Price </span>
                <span class="card_first_desc"> <%= @flight_ticket.price %> €</span>
                <span class="card_first_title"> Dates </span>
                <span class="card_first_desc"> <%= @flight_ticket.departure_at.strftime("%d/%m") %> - <%= @flight_ticket.arrival_at.strftime("%d/%m") %></span>
                </div>
                <div class="cardsecond">
                <div class="card_go">
                    <span class="card_second_hours"><%= @flight_ticket.departure_at.strftime("%I:%M%p") %> </span><%= image_tag('departure.svg', :class => "deparr")%> <span class="card_second_hours"><%= @flight_ticket.arrival_at.strftime(" %I:%M%p") %> </span><br>
                    <span class="air_departure"><%= @flight_ticket.departure.city %> </span><%= image_tag('dots.svg', :class => "deparr")%> <span class="air_departure"><%= @flight_ticket.arrival.city %></span>
                </div>
                <div class="card_back">
                    <span class="card_second_hours">17:30 AM </span><%= image_tag('arrival.svg', :class => "deparr")%> <span class="card_second_hours">18:50 PM </span><br>
                    <span class="air_departure"><%= @flight_ticket.arrival.city %> </span><%= image_tag('dots.svg', :class => "deparr")%> <span class="air_departure"><%= @flight_ticket.departure.city %></span>
                </div>
                </div>
                <div class="cardthird">
                <%= image_tag(@arrival.photo, class: "card_image")%>
                </div>
            </div>
        </div>
        <div class="displaying-info">
            <div class="info-purch-items">
                <i class="fas fa-check-circle"></i>
                <h3>Your offer is now listed to other users. Please naviagate to your user profile to check the status of your offer. </h3>
            </div>
            <div class="info-purch-items">
                <i class="fas fa-ticket-alt"></i>
                <div>
                    <h3>Want to know more information about your ticket? To see all your purchases and offers, please <%= link_to "click here.", my_dashboard_path %></h3>
                </div>
            </div>
        </div>
    </div>
</div>
