<div class="container">
    <div class="banner-bg">
        <div class="banner">
            <h2 class = "dash-p"> Welcome Back, <%= @user.email %></h2>
            <div class="main-box">
                <div>
                    <p>personal information</p>
                    <div class ="personal-info-item">
                        <i class="fas fa-at"></i>
                        <p class="label">Email</p>
                        <p class="detail"><%= @user.email %></p>
                    </div>
                    <div class ="personal-info-item">
                        <i class="fas fa-passport"></i>
                        <p class="label">Travel Doc</p>
                        <p class="detail">X78240LPK</p>
                    </div>
                    <div class ="personal-info-item">
                        <i class="fas fa-user"></i>
                        <p class="label">Username</p>
                        <p class="detail"><%= @user.username %></p>
                    </div>
                    <div class ="personal-info-item">
                        <i class="fas fa-user-check"></i>
                        <p class="label">Full name</p>
                        <p class="detail"><%= @user.Fullname %> </p>
                    </div>
                </div>
                <div>
                    <p>Contact Us</p>
                    <div class ="personal-info-item">
                        <i class="fas fa-concierge-bell"></i>
                        <p class="label">Support</p>
                        <p class="detail">support@gmail.com</p>
                    </div>
                    <div class ="personal-info-item">
                        <i class="fas fa-comment"></i>
                        <p class="label">Feedback</p>
                        <p class="detail">feedback@gmail.com</p>
                    </div>
                    <div class ="personal-info-item">
                        <i class="fas fa-phone"></i>
                        <p class="label">Phone</p>
                        <p class="detail">+9798755625</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "offers-purchases-layout">
        <div class = "offers-layout">
            <h2>My Offers</h2>
            <% @my_offers.each do |offer| %>
                <div class="offer-card">
                    <div class="destination-price">
                        <p> <%= offer.departure.city %> to <%= offer.arrival.city %></p>
                        <p class="price">Price #<%= offer.price %></p>
                    </div>
                    <div class="offer-card-info">
                        <div>
                            <p class="date"><%= offer.departure_at.strftime("%d/%m") %></p>
                            <p class="airport"><%= offer.departure.code %></p>
                            <p class="time"><%= offer.departure_at.strftime("%I:%M%p") %></p>
                        </div>
                    <hr>
                    <i class="far fa-plane"></i>
                    <hr>
                        <div>
                            <p class="date"><%= offer.arrival_at.strftime("%d/%m") %></p>
                            <p class="airport"><%= offer.arrival.code %></p>
                            <p class="time"><%= offer.arrival_at.strftime("%I:%M%p") %></p>
                        </div>
                    </div>
                </div>
                <hr>
            <% end %>

        </div>

        <div class = "purchases-layout">
            <h2>My Purchases</h2>
        </div>
    </div>
</div>
